@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto" style="padding-top: 10rem;">
            <div class="card">
                <div class="card-header card-header-text card-header-primary">
                    @ViewData["Title"]
                </div>
                <div class="card-body">
                    <form method="post" class="form">
                        <div class="card-body">
                            <div class="input-group">
                                <input asp-for="Input.Email" class="form-control" placeholder="Email">
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
