@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="page-header-image header-filter" style="background-image: url('../../images/bg7.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto" style="padding-top: 5em;">
                <div class="card card-login">
                    <form id="account" class="form" method="post">
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title">Login</h4>
                            <div class="social-line">
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <p class="description text-center">Or Be Classical</p>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="card-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">mail</i>
                                    </span>
                                </div>
                                <input asp-for="Input.Email" class="form-control" placeholder="Email">
                                @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                </div>
                                <input asp-for="Input.Password" class="form-control" placeholder="Password">
                                @*<span asp-validation-for="Input.Password" class="text-danger"></span>*@
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                        <div class="footer text-center ">
                            <a id="forgot-password" asp-page="./ForgotPassword" class="btn btn-primary btn-link btn-wd btn-lg">Forgot password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}