@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto" style="padding-top: 10rem;">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <p class="card-text">You have successfully logged out of the application.</p>
                    <a href="/" class="btn btn-primary">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>

